---
layout: "app"
app_dirname: "yengec"
mobile_web_app_title: "Yen&Geç"
title: "Yen & Geç - Gizlilik Politikası Sayfası"
description: "Yen & Geç iOS uygulamasının gizlilik politikası sayfası"
keywords: "iphone,ipad,macos,apple,trivia,trivia game,bilgi,bilgi yarışması,yardım,destek,support,gizlilik politikası,privacy policy"
og_url: "tr/uygulamalar/yengec/"
og_image: "opengraph-tr.png"
bg_class: "bg-[#695AE0]"
---

<div class="mx-auto container article-style xl:py-12">
    <a href="https://apps.apple.com/tr/app/yen-gec/id6683308230" title="Appstore&rsquo;dan indirin!">
        <%= image_tag 'apps/yengec/apple-appstore-icon.png', class: 'mx-auto size-48 mb-2 sm:size-80 xl:mb-8' %>
    </a>

    <div class="bg-white mx-auto p-8 sm:rounded-xl sm:shadow-xl xl:p-12 prose prose-sm prose-links xl:prose-lg">
        <%= markdown File.read("content/tr/apps/yengec/gizlilik.md") %>
    </div>
</div>
