---
title: Yen & Geç - Gizlilik Politikası
layout: "app"
---

<div class="container mx-auto text-bilus-500">
    <section class="py-4 lg:py-8">
        <h1 class="font-medium text-xl">Yen & Geç - Gizlilik Politikası</h1>
        <h2><strong>Son güncelleme</strong>: 13 Ekim 2024</h2>
    </section>
    
    <section>
        <article class="mb-4 lg:mb-8 prose prose-lead:text-bilus-400 prose-strong:text-bilus-500 prose-h1:text-bilus-600 prose-h2:text-bilus-500 prose-a:text-bilus-500 prose-a:font-semibold">
            <p class="lead">
                Bu Gizlilik Politikası, Hizmeti kullandığınızda bilgilerinizin
                toplanması, kullanılması ve ifşa edilmesiyle ilgili
                politikalarımızı ve prosedürlerimizi açıklar ve gizlilik
                haklarınızı ve kanunun sizi nasıl koruduğunu anlatır.
            </p>

            <p>
                Hizmeti sağlamak ve iyileştirmek için Kişisel verilerinizi kullanıyoruz. Hizmeti kullanarak, bu Gizlilik Politikası'na uygun olarak bilgilerin toplanmasını ve kullanılmasını kabul edersiniz. Bu Gizlilik Politikası, Gizlilik Politikası Üreticisi yardımıyla oluşturulmuştur.
            </p>
            
            <p>
                Bu Gizlilik Politikası'nın amaçları doğrultusunda
            </p>
            
            <ul>
                <li>
                    Hesap, Hizmetimize veya Hizmetimizin bir bölümüne erişim sağlamak için sizin adınıza oluşturulan benzersiz bir hesabı ifade eder.
                </li>
                <li>
                    Bağlı Kuruluş, bir tarafın kontrol ettiği, kontrol altında olduğu veya ortak kontrol altında olduğu bir varlığı ifade eder; burada "kontrol", direktörlerin veya diğer yönetim otoritelerinin seçimi için oy hakkına sahip olan hisselerin, özsermaye faizlerinin veya diğer menkul kıymetlerin %50'si veya daha fazlasına sahip olmayı ifade eder.
                </li>
                <li>
                    Uygulama, Şirket tarafından sağlanan yazılım programı olan Yen&Gec'i ifade eder.
                </li>
                <li>Şirket (bu Sözleşmede "Şirket", "Biz", "Bize" veya "Bizim" olarak anılacaktır), Bilus Teknoloji A.Ş., İstanbul'u ifade eder.</li>
                
                <li>Ülke, Türkiye'yi ifade eder.</li>
                <li>Cihaz, bilgisayar, cep telefonu veya dijital tablet gibi Hizmete erişebilen herhangi bir cihazı ifade eder.</li>
                <li>Kişisel Veri, kimliği belirli veya belirlenebilir bir bireyle ilgili herhangi bir bilgiyi ifade eder.</li>
                <li>Hizmet, Uygulamayı ifade eder.</li>
                <li>Hizmet Sağlayıcı, Şirket adına verileri işleyen herhangi bir gerçek veya tüzel kişiyi ifade eder. Bu, Hizmeti kolaylaştırmak, Şirket adına Hizmeti sağlamak, Hizmetle ilgili hizmetleri yerine getirmek veya Hizmetin nasıl kullanıldığını analiz etmede Şirkete yardımcı olmak için Şirket tarafından istihdam edilen üçüncü taraf şirketleri veya bireyleri ifade eder.</li>
                <li>Kullanım Verileri, Hizmetin kullanımıyla otomatik olarak toplanan verileri veya Hizmet altyapısından kaynaklanan verileri (örneğin, bir sayfa ziyaretinin süresi) ifade eder.</li>
                <li>Siz, Hizmete erişen veya Hizmeti kullanan birey ya da bu bireyin adına Hizmete erişen veya Hizmeti kullanan şirket veya diğer tüzel kişiyi ifade eder.</li>
            </ul>
            
        </article>
    </section>
</div>

<%= partial "partials/footer" %>