@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { @apply antialiased; }
    strong { @apply text-bilus-700; }
}

.debug { 
    @apply
    after:content-['...']
    sm:after:content-['sm']
    md:after:content-['md']
    lg:after:content-['lg']
    xl:after:content-['xl']
    2xl:after:content-['2xl']
    3xl:after:content-['3xl']
    full-hd:after:content-['full-hd']
    4xl:after:content-['4xl']
    5xl:after:content-['5xl']
    6xl:after:content-['6xl']
    fixed right-0 bottom-0
    font-bold
    bg-slate-200 text-black border-2 border-slate-500
    py-2 px-4 
    z-50
    ;
}

.debug-inspect {
    @apply
    bg-green-200
    border border-green-400
    max-w-7xl mx-auto
    text-left
    whitespace-pre-line
    font-mono
    leading-relaxed
    px-5 pb-5
    m-5
    ;
}

@layer components {
    a.active {
        @apply underline underline-offset-6 decoration-2;
    }
    
    .hover-underline {
      @apply hover:underline hover:underline-offset-6 hover:decoration-2;
    }
    
    .nav-links {
        @apply text-bilus-500 font-semibold;
    }
    
    .submenu-links {
        @apply block p-2 hover:bg-bilus-400 hover:text-white nav-links;
    }

    .heading-2-base {
        @apply font-extrabold text-xl 2xl:text-4xl;
    }
    
    .heading-2 {
        @apply text-bilus-700 heading-2-base;
    }

    .heading-2-rev {
        @apply text-white heading-2-base;
    }
    
    .article-style {
        @apply
        prose-lead:text-bilus-600
        prose-h1:text-bilus-600 
        prose-h2:text-bilus-500
        prose-h3:text-bilus-400
        prose-h4:text-bilus-700 prose-h4:underline prose-h4:underline-offset-6
        prose-strong:text-bilus-700
        prose-blockquote:text-bilus-800
        prose-a:text-bilus-500
        ;
    }

    /* https://gist.github.com/roachhd/5a894df2b76536f92fec */

    .highlight      { @apply bg-[#002B36] text-[#839496]; }
    .highlight .c   { @apply text-[#586E75]; }
    .highlight .err { @apply text-[#dc322f]; }
    .highlight .k   { @apply text-[#859900]; }
    .highlight .o   { @apply text-[#93a1a1]; }
    .highlight .cm  { @apply text-[#586E75]; }
    .highlight .cp  { @apply text-[#B58900]; }
    .highlight .c1  { @apply text-[#586E75]; }
    .highlight .cs  { @apply text-[#dc322f]; }
    .highlight .gd  { @apply text-[#dc322f] bg-[#eee8d5]; }
    .highlight .ge  { @apply italic; }
    .highlight .gr  { @apply text-[#dc322f]; }
    .highlight .gh  { @apply text-[#268BD2]; }
    .highlight .gi  { @apply text-[#219186] bg-[#eee8d5]; }
    .highlight .go  { @apply text-[#839496]; }
    .highlight .gp  { @apply text-[#839496]; }
    .highlight .gs  { @apply font-bold; }
    .highlight .gu  { @apply text-[#268BD2]; }
    .highlight .gt  { @apply text-[#dc322f]; }
    .highlight .kc  { @apply text-[#859900]; }
    .highlight .kd  { @apply text-[#859900]; }
    .highlight .kn  { @apply text-[#859900]; }
    .highlight .kp  { @apply text-[#859900]; }
    .highlight .kr  { @apply text-[#859900]; }
    .highlight .kt  { @apply text-[#859900]; }
    .highlight .m   { @apply text-[#D33682]; }
    .highlight .mf  { @apply text-[#D33682]; }
    .highlight .mh  { @apply text-[#D33682]; }
    .highlight .mi  { @apply text-[#D33682]; }
    .highlight .il  { @apply text-[#D33682]; }
    .highlight .dl  { @apply text-[#2AA198]; }
    .highlight .s   { @apply text-[#2AA198]; }
    .highlight .s1  { @apply text-slate-300; } /* Literal.String.Single */
    .highlight .s2  { @apply text-slate-200; } /* Literal.String.Double */
    .highlight .sb  { @apply text-[#2AA198]; }
    .highlight .sc  { @apply text-[#2AA198]; }
    .highlight .sd  { @apply text-[#2AA198]; }
    .highlight .se  { @apply text-[#2AA198]; }
    .highlight .sh  { @apply text-[#2AA198]; }
    .highlight .si  { @apply text-[#2AA198]; }
    .highlight .sx  { @apply text-[#2AA198]; }
    .highlight .sr  { @apply text-[#dc322f]; }
    .highlight .ss  { @apply text-[#CB4B17]; }
    .highlight .na  { @apply text-[#93A1A1]; }
    .highlight .nb  { @apply text-[#CB4B16]; }
    .highlight .nc  { @apply text-[#268BD2]; }
    .highlight .no  { @apply text-[#B58800]; }
    .highlight .nd  { @apply text-[#268BD2]; }
    .highlight .ni  { @apply text-[#cb4b16]; }
    .highlight .ne  { @apply text-[#CB4B16]; }
    .highlight .nf  { @apply text-[#268BD2]; }
    .highlight .nl  { @apply text-[#268BD2]; }
    .highlight .nn  { @apply text-[#268BD2]; }
    .highlight .nt  { @apply text-[#268BD2]; }
    .highlight .nv  { @apply text-[#268BD2]; }
    .highlight .ow  { @apply text-[#859900]; }
    .highlight .w   { @apply text-[#839496]; }
    .highlight .bp  { @apply text-[#268BD2]; }
    .highlight .vc  { @apply text-[#268BD2]; }
    .highlight .vg  { @apply text-[#268BD2]; }
    .highlight .vi  { @apply text-[#268BD2]; }

    .prose-links {
        @apply prose-a:text-bilus-500 prose-a:underline-offset-6 hover:prose-a:no-underline;
    }
}