---
title: FAQ
description: Have questions about Bilus Teknoloji? Our FAQ page provides clear answers and helpful information to enhance your experience with our technology solutions.
---

<section class="2xl:py-24 article-style">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="prose prose-links xl:prose-xl">
                <h1>Frequently Asked Questions</h1>
                <h2>Your Questions Answered</h2>
                <p>
                    Explore answers to common questions about how we <strong>train</strong>,
                    <strong>consult</strong>, and <strong>build with companies</strong> to drive real, <strong>scalable</strong>
                    results through technology.
                </p>

                <div class="not-prose space-y-4">
                    <% data.items.general_faq[lang].each_with_index do |item,i| %>
                    <div x-data="{ open: false }" class="hover:bg-[#FAFAFD] bg-white border border-bilus-100 rounded-lg p-4">
                        <button type="button" @click="open = !open" class="cursor-pointer w-full flex justify-between gap-x-2 items-center text-left text-bilus-500">
                            <div class="bg-bilus-400 text-white size-6 flex justify-center items-center rounded-full text-xs font-bold tracking-tighter"><p><%= i+1 %></p></div>
                            <div class="grow text-base font-semibold leading-none"><%= item.question %></div>
                            <svg :class="open ? 'rotate-90' : 'rotate-0'" class="w-4 h-4 transition-transform duration-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                        
                        <div x-show="open" x-transition:enter="transition-all duration-300 ease-out" x-transition:enter-start="opacity-0 max-h-0" x-transition:enter-end="opacity-100 max-h-40" x-transition:leave="transition-all duration-200 ease-in" x-transition:leave-start="opacity-100 max-h-40" x-transition:leave-end="opacity-0 max-h-0" class="overflow-hidden mt-2 text-gray-600 leading-relaxed" x-cloak>
                            <div class="text-bilus-600 [&_p]:text-base [&_p]:p-2 [&_p]:leading-normal">
                                <%= markdown(item.answer) %>
                            </div>
                        </div>
                        
                    </div>
                    <% end %>
                </div>
                

            </div>
            <%= partial "partials/services_sidebar" %>
        </div>
    </div>
</section>
