---
title: FAQ
description: Have questions about Bilus Teknoloji? Our FAQ page provides clear answers and helpful information to enhance your experience with our technology solutions.
---

<section class="2xl:py-24 article-style">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="prose prose-links xl:prose-xl">
                <h1><%= current_page.data.title %></h1>
            </div>
            <%= partial "partials/services_sidebar" %>
        </div>
    </div>
</section>
