---
title: Terms of Service
description: Explore the Terms of Service for Bilus Teknoloji, detailing user obligations and service guidelines to ensure a seamless experience with our technology offerings.
---

<section class="2xl:py-24 article-style">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="prose prose-links xl:prose-xl">
                <%= markdown File.read("content/#{lang}/pages/terms-of-service.md") %>
            </div>
            <%= partial "partials/services_sidebar" %>
        </div>
    </div>
</section>
