<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bilus teknoloji - <%= current_page.data.title %></title>
    <meta name="description" content="<%= current_page.data.description %>">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag "site" %>

<%#    <meta property="og:url" content="https://bilusteknoloji.com/">#%>
<%#    <meta property="og:type" content="website">#%>
<%#    <meta property="og:title" content="bilus teknoloji - we know, we fix, we succeed">#%>
<%#    <meta property="og:description" content="Crafting the Future with Expertise in Software">#%>
<%#    <meta property="og:image" content="https://bilusteknoloji.com/images/opengraph.png">#%>
<%#    <meta name="twitter:card" content="summary_large_image">#%>
<%#    <meta property="twitter:domain" content="bilusteknoloji.com">#%>
<%#    <meta property="twitter:url" content="https://bilusteknoloji.com/">#%>
<%#    <meta name="twitter:title" content="bilus teknoloji - we know, we fix, we succeed">#%>
<%#    <meta name="twitter:description" content="Crafting the Future with Expertise in Software">#%>
<%#    <meta name="twitter:image" content="https://bilusteknoloji.com/images/opengraph.png">#%>
</head>
<body>
    <%= yield %>
</body>
</html>
