<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilus Teknoloji<% if current_page.data.title.present? %> | <%= current_page.data.title %><% end %></title>

    <meta name="title" content="Bilus Teknoloji | Software Solutions Shaping the Future">
    <meta name="description" content="Bilus Teknoloji provides innovative and sustainable software solutions. From web and mobile development to technical consulting, we help businesses thrive.">
    <meta name="keywords" content="Software Solutions, Technical Consulting, Web Development, Mobile Development, Microservices, Data Management, DevOps">
    <meta name="author" content="Bilus Teknoloji">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag "site" %>
    
    <meta property="og:url" content="https://bilusteknoloji.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bilus Teknoloji | Software Solutions Shaping the Future">
    <meta property="og:description" content="Bilus Teknoloji provides innovative and sustainable software solutions. From web and mobile development to technical consulting, we help businesses thrive.">
    <meta property="og:image" content="https://bilusteknoloji.com/images/opengraph.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="bilusteknoloji.com">
    <meta property="twitter:url" content="https://bilusteknoloji.com/">
    <meta name="twitter:title" content="Bilus Teknoloji | Software Solutions Shaping the Future">
    <meta name="twitter:description" content="Bilus Teknoloji provides innovative and sustainable software solutions. From web and mobile development to technical consulting, we help businesses thrive.">
    <meta name="twitter:image" content="https://bilusteknoloji.com/images/opengraph.png">
</head>
<body class="bg-[url('/images/ccchaos.svg')]">
    <% if development? %><span class="debug"></span><% end %>
    <%= yield %>
</body>
</html>
