<div class="hidden md:block md:pl-5 md:max-w-96">
    <div class="p-8 border border-bilus-100 rounded-xl shadow-md">
        <h4 class="text-bilus-500 font-semibold mb-5 2xl:text-2xl">???</h4>
        <p>???</p>
    </div>
</div>
