<section class="p-4 md:p-10 bg-bilus-700">
    <footer class="container mx-auto max-w-3xl">
        <ul class="flex flex-row gap-x-8 justify-evenly">
            <li><a class="font-bold text-bilus-300" title="Get in touch!" href="mailto:hello@bilusteknoloji.com">hello@bilusteknoloji.com</a></li>
            <li><a class="font-bold text-bilus-300" title="LinkedIn" href="https://www.linkedin.com/company/bilusteknoloji">LinkedIn</a></li>
            <li><a class="font-bold text-bilus-300" title="GitHub" href="https://github.com/bilusteknoloji/">GitHub</a></li>
        </ul>
    </footer>
</section>