<% amount = locals[:amount] || 5 %>
<div class="hidden xl:block xl:p-5 2xl:p-0 2xl:pl-5">
    <div class="p-8 border border-bilus-100 rounded-xl shadow-md">
        <h4 class="text-bilus-500 font-semibold mb-5 2xl:text-2xl"><%= t('latests_articles') %></h4>
        <ul class="*:my-4 last:*:mb-0">
        <% page_articles.sort_by{ |a| a.date }.reverse.first(amount).each do |post| %>
            <li><a title="<%= I18n.t('click_to_read', title: post.title) %>" class="text-bilus-500 hover-underline" href="<%= post.url %>"><%= post.title %></a></li>
        <% end %>
        </ul>
    </div>
</div>
