<section class="border-t border-b bg-bilus-100/10 py-5 xl:py-10 2xl:py-24">
    <div class="container mx-auto text-center">
        <h2 class="px-5 mb-5 heading-2 sm:px-0 2xl:mb-8">
            Optimize Your Technology, Transform Your Future
        </h2>
        <p class="mx-auto mb-10 max-w-xs sm:max-w-lg lg:max-w-2xl lg:text-xl lg:leading-relaxed">
            Experienced <strong>consultants</strong> and <strong>tech
            experts</strong> at your service, providing
            <strong>tailored</strong> solutions to drive <strong>your business
            forward</strong> and ensure seamless digital transformation.
        </p>
        <p class="pb-5">
            <% _, link = get_page_title_and_link 'contact' %>
            <a href="<%= link %>" title="<%= t('get_started_now') %>" class="bg-bilus-700 text-white px-6 py-3 font-bold rounded-full hover:bg-bilus-500 focus:outline-none focus:ring-4 focus:ring-bilus-300 transition duration-200 ease-in-out">Get Started Now!</a>
        </p>
    </div>
</section>
