---
title: Trivia Wars - Support Page
layout: "app"
---

<div class="container mx-auto text-bilus-500">
    <section class="py-4 lg:py-8">
        <h1 class="font-medium text-xl">Trivia Wars - Support Page</h1>
    </section>
    
    <section>
        <article class="mb-4 lg:mb-8 prose prose-lead:text-bilus-400 prose-strong:text-bilus-500 prose-h1:text-bilus-600 prose-h2:text-bilus-500 prose-a:text-bilus-500 prose-a:font-semibold">
            <p class="lead">
                Thank you for using <strong>Trivia Wars</strong>! We're here to help 
                you make the most out of your experience. Below you'll find common issues, 
                solutions, and ways to reach out if you need further assistance.
            </p>
            
            <h1>Frequently Asked Questions (FAQs)</h1>
            
            <h2>How do I get started with Trivia Wars?</h2>
            <p>
                To begin, simply download the app from the App Store, create
                an account, and follow the setup guide to get started quickly.
            </p>

            <h2>How do I report a problem?</h2>
            <p>
                Just drop us an <a href="mailto:hello@bilusteknoloji.com?subject=Trivia20%Wars">email</a> about your issue. Our support team
                will get back at you as soon as possible!
            </p>
            
            <h2>Need More Help?</h2>
            <p>
                If your question isn&rsquo;t answered above, we&rsquo;re here for you. 
                You can contact our support team by <a href="mailto:hello@bilusteknoloji.com?subject=Trivia20%Wars">email</a>.
            </p>
            
            <h2>Feedback</h2>
            <p>
                We love hearing from our users! If you have suggestions on how we can 
                improve Trivia Wars, please send us your feedback at 
                <a href="mailto:hello@bilusteknoloji.com?subject=Trivia20%Wars20%-20%Feedback">hello@bilusteknoloji.com</a>.
            </p>
            
            <p>Thank you for being a valued part of our community!</p>
        </article>
    </section>
</div>

<%= partial "partials/footer" %>