---
title: Trivia Wars Support Page
---

<div class="container mx-auto">
    <section class="py-4 lg:py-8">
        <h1 class="font-medium text-xl">Trivia Wars - Support Page</h1>
    </section>
    
    <section><p>Coming soon.</p></section>
</div>

