---
title: Services
description: Bilus Teknoloji offers a range of expert services to enhance your technology infrastructure. Partner with us for innovative solutions and exceptional support.
---

<section class="2xl:py-24">
    <div class="container mx-auto">
        <div class="mb-16 prose xl:prose-xl article-style">
            <h1><%= current_page.data.title %></h1>
            <p>
                In today&rsquo;s digital age, <strong>software security</strong> is paramount.
                Vulnerabilities can lead to data breaches, financial losses,
                and <strong>reputational damage</strong>.
            </p>
        </div>
        
        <div class="mx-auto grid grid-cols-1 2xl:gap-8 2xl:max-w-7xl 2xl:grid-cols-3">
            <%= partial 'partials/services_list' %>
        </div>
        
    </div>
</section>
