#bilus-navbar #bilus-logo {
  max-height: 4rem; }

a {
  color: #5900BD !important;
  font-weight: 800; }
  a:hover {
    color: #5900BD !important; }

.splash {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #5900BD; }
  .splash h1, .splash h2, .splash p, .splash strong {
    color: white; }

.footer {
  background-color: #41008a;
  color: white; }
  .footer span, .footer a {
    margin-left: 2em;
    margin-right: 2em; }
  .footer a {
    color: inherit !important;
    font-weight: 400; }

.welcome {
  color: #290057; }
  .welcome strong {
    color: #5900BD; }
