---
title: Yengeç - Destek Sayfası
layout: "app"
---

<div class="container mx-auto text-bilus-500">
    <section class="py-4 lg:py-8">
        <h1 class="font-medium text-xl">Yengeç - Destek Sayfası</h1>
    </section>
    
    <section>
        <article class="mb-4 lg:mb-8 prose prose-lead:text-bilus-400 prose-strong:text-bilus-500 prose-h1:text-bilus-600 prose-h2:text-bilus-500 prose-a:text-bilus-500 prose-a:font-semibold">
            <p class="lead">
                <strong>Yengeç</strong> kullandığınız için teşekkür ederiz!
                Deneyiminizden en iyi şekilde yararlanmanız için buradayız.
                Aşağıda yaygın sorunlar, çözümler ve ek yardım gerektiğinde
                nasıl ulaşabileceğinizle ilgili bilgileri bulabilirsiniz.
            </p>

            <h1>Sıkça Sorulan Sorular (SSS)</h1>

            <h2>Yengeç&rsquo;e nasıl başlarım?</h2>
            <p>
                Başlamak için, uygulamayı App Store&rsquo;dan indirin, bir
                hesap oluşturun ve hızlı bir şekilde başlamak için kurulum
                rehberini takip edin.
            </p>

            <h2>Bir sorunu nasıl bildirebilirim?</h2>
            <p>
                Sorununuzu bize <a href="mailto:hello@bilusteknoloji.com?subject=Yengeç">e-posta</a> 
                ile iletmeniz yeterlidir. Destek ekibimiz size en kısa sürede geri dönüş yapacaktır!
            </p>

            <h2>Daha Fazla Yardıma mı İhtiyacınız Var?</h2>
            <p>
                Yukarıda sorunuzun cevabını bulamadıysanız, buradayız. 
                Destek ekibimize <a href="mailto:hello@bilusteknoloji.com?subject=Yengeç">e-posta</a> 
                ile ulaşabilirsiniz.
            </p>

            <h2>Geri Bildirim</h2>
            <p>
                Kullanıcılarımızdan geri bildirim almayı çok seviyoruz! Yengeç&rsquo;i 
                nasıl geliştirebileceğimizle ilgili önerileriniz varsa, 
                lütfen geri bildiriminizi <a href="mailto:hello@bilusteknoloji.com?subject=Yengeç Geribildirim">hello@bilusteknoloji.com</a> 
                adresine gönderin.
            </p>

            <p>Topluluğumuzun değerli bir parçası olduğunuz için teşekkür ederiz!</p>
        </article>
    </section>
</div>

<%= partial "partials/footer" %>