---
title: Geleceği Şekillendiren Yazılım Çözümleri
---
<% I18n.locale = :tr %>
<%= partial "partials/header" %>

<section class="pb-5 md:pb-0 2xl:pt-20 2xl:pb-24">
    <div class="container mx-auto">
        <div class="flex w-full">
            <div class="p-5 text-center sm:p-10 lg:text-left lg:w-2/3 xl:w-4/6 2xl:p-0">

                <h1 class="text-bilus-500 mb-8 text-3xl font-bold xl:max-w-none xl:text-5xl xl:leading-none 2xl:max-w-xl">
                    Kurumsal Dönüşüm ve İcra Ortağınız
                </h1>

                <h2 class="mb-8 text-2xl xl:text-3xl xl:leading-snug xl:max-w-3xl">
                    Kurumsal teknoloji organizasyonlarının <strong>dönüşümünü</strong> 
                    hem <strong>stratejik</strong> hem de <strong>operasyonel</strong> düzeyde 
                    <strong>yöneten</strong> bir <strong>uygulama ortaklığı</strong> 
                    modeliyle faaliyet göstermekteyiz.
                </h2>

                <p class="mb-5 text-xl xl:max-w-none xl:text-2xl xl:leading-relaxed">
                    Hizmet odağımız; <strong>mühendislik</strong> kapasitesi ile <strong>iş hedefleri</strong> arasındaki 
                    uyumu sağlamakta <strong>güçlük</strong> çeken, <strong>büyüme</strong> sürecinde 
                    teknoloji yönetimini <strong>güvence</strong> altına almak isteyen ya da 
                    köklü bir <strong>yapısal dönüşüm</strong> için 
                    <strong>güvenilir</strong> bir <strong>icra</strong> ortağına ihtiyaç duyan <strong>kurumsal</strong> şirketlerdir.
                </p>

                <h3 class="text-bilus-600 font-semibold text-lg mb-5 md:mb-10 xl:text-2xl xl:leading-snug">
                    Analiz ve öneri sunup <strong>çekilmiyoruz</strong>. Kararları <strong>alıyor</strong>, 
                    ekiplerle birlikte <strong>uyguluyoruz</strong> ve 
                    <strong>ölçülebilir</strong> sonuç elde edilene kadar <strong>sürecin içinde kalıyoruz</strong>.
                </h3>

            </div>

            <div class="hidden lg:block lg:p-10 lg:w-1/3 2xl:p-0 xl:w-2/6">
                <div class="w-fit ml-auto">
                    <%= image_tag "clipart-1024.jpg",
                        class: "mx-auto lg:w-80 lg:h-auto border border-gray-400 rounded-xl shadow-lg" %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-10 2xl:pt-0 2xl:pb-24">
    <div class="mx-auto px-5 grid grid-cols-1 gap-5 lg:grid-cols-2 2xl:px-0 2xl:gap-8 2xl:max-w-7xl 2xl:grid-cols-3">
        <%= partial 'partials/services_list' %>
    </div>
</section>

<%= partial "partials/footer" %>
