---
title: home
---

<section class="text-bilus-500 p-4 sm:p-8">
    <div class="container mx-auto">

        <div class="flex flex-col items-center gap-y-2 sm:gap-y-4">
            <%= image_tag "bilus-logo.png", id: "bilus-logo", class: "h-8 sm:h-16" %>
            <h1 class="font-bold text-lg sm:text-2xl">Bilus Teknoloji</h1>
        </div>

    </div>
</section>

<section class="bg-bilus-700 text-white text-center p-4 md:p-20">
    <h2 class="mb-2 mx-auto max-w-xs sm:max-w-none sm:mb-4 font-extrabold sm:[text-shadow:_2px_2px_20px_rgb(167_184_214)] sm:text-2xl lg:text-5xl lg:tracking-tight">Crafting the Future with Expertise in Software</h2>
    <h3 class="mx-auto max-w-xs sm:max-w-none sm:mb-4 lg:mb-12 font-semibold sm:text-xl lg:text-4xl lg:tracking-tight">Engineering Excellence in Software Solutions</h3>
    <p class="hidden sm:block mx-auto sm:max-w-xl lg:max-w-3xl lg:text-2xl/relaxed">
        At our core, we are innovators in the realm offset
        <strong class="font-semibold">software technology</strong>, harnessing the
        power of modern software methodologies to craft
        <strong class="font-semibold">tailored software</strong> solutions.
    </p>
</section>

<section class="p-8 md:p-20">
    <div class="bg-white p-4 xl:p-8 mx-auto max-w-2xl prose prose-strong:font-medium prose-strong:text-bilus-550 2xl:prose-xl article">

        <%= partial "partials/index" %>

    </div>
</section>

<section class="p-4 md:p-10 bg-bilus-700">
    <footer class="container mx-auto max-w-3xl">
        <ul class="flex flex-row gap-x-8 justify-evenly">
            <li><a class="font-bold text-bilus-300" title="Get in touch!" href="mailto:hello@bilusteknoloji.com">hello@bilusteknoloji.com</a></li>
            <li><a class="font-bold text-bilus-300" title="LinkedIn" href="https://www.linkedin.com/company/bilusteknoloji">LinkedIn</a></li>
            <li><a class="font-bold text-bilus-300" title="GitHub" href="https://github.com/bilusteknoloji/">GitHub</a></li>
        </ul>
    </footer>
</section>