---
title: home page
---

<div class="container">
    <nav class="navbar mt-6 mb-6" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <%= image_tag "bilus-logo.png" %>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="navbar-item" title="Get in touch!" href="mailto:hello@bilusteknoloji.com">hello@bilusteknoloji.com</a>
                    <a class="navbar-item" title="LinkedIn" href="https://www.linkedin.com/company/bilus-teknoloji">LinkedIn</a>
                    <a class="navbar-item" title="GitHub" href="https://github.com/bilusteknoloji/">GitHub</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<section class="section splash">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="is-size-1 has-text-weight-bold">Crafting the Future with Expertise in Software</h1>
                <h2 class="is-size-2 has-text-weight-bold">Engineering Excellence in Software Solutions</h2>

                <p class="is-size-3 mt-6">
                    At our core, we are innovators in the realm of
                    <strong>software technology</strong>, harnessing the
                    power of modern software methodologies to craft
                    <strong>tailored software</strong> solutions.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section welcome mt-6 mb-6">
    <div class="container">
        <div class="columns is-variable is-8 is-centered">
            <div class="column is-8">
                <div class="content is-large">
                    <p>

                        Our approach is rooted in the utilization of
                        <strong>cutting-edge technologies</strong>, ensuring
                        that our clients receive the most advanced and
                        efficient software products available.

                    </p>
                    <p>
                        Our expertise spans a wide array of disciplines within
                        <strong>the software development lifecycle</strong>, from backend systems to user-facing interfaces, 
                        including web, mobile, and desktop applications.
                    </p>
                    <p>
                        Beyond development, we offer comprehensive <strong>technology consulting</strong> 
                        services to enterprises, guiding them through the complexities of 
                        <strong>digital transformation</strong> with ease and expertise. 
                    </p>
                    <p>
                        Our deep experience with <strong>open-source</strong> technologies enables us 
                        to provide flexible, <strong>robust solutions</strong> that empower 
                        businesses to stay ahead in a rapidly evolving digital landscape.
                    </p>
                    <p>
                        Specializing in <strong>microservices</strong> architectures and 
                        <strong>distributed</strong> systems, our team is adept at creating <strong>scalable</strong>, 
                        <strong>resilient</strong> applications that meet the demands of today&rsquo;s 
                        dynamic business environments. 
                    </p>
                    <p>
                        Whether it&rsquo;s enhancing existing software infrastructure or 
                        building something entirely new, <strong>our mission</strong> is to 
                        deliver <strong>excellence</strong> in every project we undertake, 
                        ensuring our clients are equipped with 
                        the tools they need to succeed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content is-medium has-text-centered">
            <p class="is-size-4 has-text-weight-bold">Bilus Teknoloji A.Ş.</p>
            <span>ACIBADEM MAH. ÇEÇEN SK. B17 BLOK NO: 19M/13 ÜSKÜDAR/İSTANBUL</span>
            <a title="Call for an appointment!" href="tel:+905326426333">+90 532 642 63 33</a>
            <a title="Send us an email!" href="mailto:hello@bilusteknoloji.com">hello@bilusteknoloji.com</a>
        </div>
    </div>
</footer>