---
layout: "app"
app_dirname: "yengec"
mobile_web_app_title: "Yen&Geç"
title: "Yen & Geç - Rakiplerinle Yarış, Bilginle Zirveye Çık!"
description: "Yen & Geç, rakiplerinle yarış, bilginle zirveye çık! Hızla doğru cevap vermenin yetmediği, aynı zamanda rakiplerine karşı stratejik düşünmenin gerektiği bir genel kültür bilgi yarışması! Sadece apple iOS, iPhone, iPad ve M işlemcili Mac&rsquo;lerde!"
keywords: "iphone,ipad,macos,apple,trivia,trivia game,bilgi,bilgi yarışması"
og_url: "tr/uygulamalar/yengec/"
og_image: "opengraph-tr.png"
bg_class: "bg-[#695AE0]"
---

<section class="[&_strong]:text-[#ffff00] pt-8 xl:pt-16">
    <div class="mx-auto container text-center text-white">
        <a href="https://apps.apple.com/tr/app/yen-gec/id6683308230" title="Appstore&rsquo;dan indirin!">
            <%= image_tag 'apps/yengec/apple-appstore-icon.png', class: 'mx-auto size-48 mb-2 sm:size-80 xl:mb-16' %>
        </a>
        
        <h1 class="text-white text-3xl mb-4 font-bold xl:mb-16 xl:text-7xl xl:font-extrabold">Yen &amp; Geç</h1>
        
        <p class="mx-auto mb-8 max-w-xs text-lg leading-normal sm:max-w-lg sm:text-xl sm:leading-relaxed xl:mb-12 xl:max-w-5xl xl:text-4xl xl:leading-snug xl:font-bold">
            <strong>Yen & Gec</strong>, hızla doğru cevap vermenin yetmediği, aynı zamanda
            rakiplerine karşı stratejik düşünmenin gerektiği bir <strong>genel kültür</strong>
            bilgi yarışması!
        </p>
        
        <a href="https://apps.apple.com/tr/app/yen-gec/id6683308230" title="Appstore&rsquo;dan indirin!">
            <%= image_tag 'https://toolbox.marketingtools.apple.com/api/v2/badges/download-on-the-app-store/black/tr-tr?releaseDate=1728950400', 
                class: "mx-auto sm:h-14 xl:h-16 shadow-lg" %>
        </a>
        
        <%= image_tag 'apps/yengec/yengec-screen-01.png', class: "mx-auto" %>
        
    </div>
</section>