---
title: Yen & Geç
layout: "app"
bg: "bg-[#695AE0]"
---

<div class="container mx-auto">
    <div class="text-white">
        <a title="Apple App Store" href="https://apps.apple.com/tr/app/yen-gec/id6683308230"><%= image_tag "apps/yen-gec-app-icon.png", id: "yen-gec-logo", class: "mx-auto" %></a>
    </div>
</div>