---
title: Yen & Geç
layout: "app"
bg: "bg-[#695AE0]"
---

<div class="container mx-auto mb-32">
    <div class="text-white">
        <a title="Apple App Store" href="https://apps.apple.com/tr/app/yen-gec/id6683308230">
            <%= image_tag "apps/yen-gec-app-icon.png", id: "yen-gec-logo", class: "mt-8 mb:4 h-64 lg:mt-20 lg:mb-12 md:h-80 mx-auto" %>
        </a>
        
        <div class="text-center">
            <h1 class="px-8 text-xl md:text-3xl md:px-0 font-semibold mb-4">Yen&Gec – Rakiplerinle Yarış, Bilginle Zirveye Çık!</h1>
            
            <p class="px-8 max-w-3xl mx-auto text-md/relaxed md:text-lg/relaxed mb-16">
                Yen&Gec, hızla doğru cevap vermenin yetmediği, aynı zamanda rakiplerine karşı stratejik düşünmenin gerektiği bir genel kültür bilgi yarışması! Her soruda farklı bir rakiple karşılaşıyorsun ve hem hızlı hem de doğru cevap vererek onları alt etmelisin. 
                Ama dikkat et! Rakibin senden önce doğru cevabı bulursa, yarışa veda edebilirsin.
            </p>
            

            <a href="https://apps.apple.com/tr/app/yen-gec/id6683308230?itscg=30200&itsct=apps_box_badge&mttnsubad=6683308230" style="display: inline-block;">
                <img src="https://toolbox.marketingtools.apple.com/api/v2/badges/download-on-the-app-store/black/tr-tr?releaseDate=1728950400" alt="Download on the App Store" style="width: 310px; height: 82px; vertical-align: middle; object-fit: contain;" />
            </a>
            
        </div>
    </div>
</div>